* {
	color: white;
	font-family: system-ui;
}

html,
body {
	height: 50%;
	background: black;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	text-align: center;
}

input {
	background-color: black;
	border: 1px solid blue;
	font-size: 2em;
	color: white;
	font-weight: 200;
	padding: 5px;
	width: 500px;
}

p,
a {
	font-size: 2em;
	font-weight: 200;
}

a {
	margin-top: 30px;
	font-weight: 200;
	color: rgb(22, 104, 245);
}

h1 {
	font-size: 70px;
	font-weight: 200;
}

@media only screen and (max-width: 700px) {
	h1 {
		font-size: 50px;
	}

	input {
		font-size: 1.5em;
		width: 80vw;
	}
}